*.env
*/node_modules
*.vscode
*/.terraform
*.tfstate
*.terraform.lock.hcl
*.terraform.tfstate.lock.info
*terraform.tfstate.backup
.DS_Store
**/node_modules
*build
*install
*log
*__pycache__
**/google.json
src/.idea/
*.idea

*.idea

googlespeech.json
